// Generic Box - Uses Flex
.box {
  padding: .5rem;
}
// Flex Alignment
.bottom-align {
  display: flex;
  align-items: flex-end;
  flex: 1;
}
.center-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.flex-right {
  justify-content: flex-end;
}

// Background Classes
.white-bg {
  background-color: #ffffff;
}
.medium-grey-bg {
  background-color: #dedede;
}
.grey-bg {
  background-color: #5a5a5a;
}
// horizontal lines, sized: 1 - 5
.hl-1 {
  height: 1px;
  width: 100%;
  margin: .5rem 0 1rem 0;
}
.hl-2 {
  height: 2px;
  width: 100%;
  margin: .5rem 0 1rem 0;
}
.hl-3 {
  height: 3px;
  width: 100%;
  margin: .5rem 0 1rem 0;
}
.hl-4 {
  height: 4px;
  width: 100%;
  margin: .5rem 0 1rem 0;
}
.hl-5 {
  height: 5px;
  width: 100%;
  margin: .5rem 0 1rem 0;
}
// Borders
.bdr-1 {
  border: 1px solid #eaeaea;
}
// padding classes
.pad {
  padding: .5rem;
}
.pad-0 {
  padding: 0;
}
.pad-1 {
  padding: 1rem;
}
.pad-2 {
  padding: 2rem;
}
.pad-t-1 {
  padding-top: 1rem;
}

.pad-tb-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad-tb-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pad-lr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pad-lr-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
// Margin Classes
.mb-1 {
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.width-20 {
  width: 20%;
}
.v-center {
  margin: 0rem auto 1.2rem auto;
}
.mr {
  margin-right: .5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.m-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 2rem;
}

form span.red {
  position: relative;
  top: -20px;
  font-style: italic;
  color: red;
  font-size: .8rem;
}